@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
  --color-theme-primary: #1f7a8c;
  --color-theme-note: #ffd100;
  --color-theme-editing: #fef4c7;
  --color-theme-alert: #85182a;
  --color-theme-disabled: #909090;
  --font-noto: 'Noto Sans', sans-serif;
}

@layer utilities {
  .engraved-text {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 2px 5px 5px rgba(255, 255, 255, 0.3);
  }
}
